* {
  margin: 10px 10px;
  box-sizing: border-box;
}
.body{
  width: 100%;
  height: fit-content;
}
.introduction-graphic{
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.shape--1{
  border: .25rem solid rgb(56, 198, 244, 0.5);
  border-radius: 4.5rem;
  height: 7rem;
  left: 16rem;
  top: 13rem;
  width: 7rem;
  z-index: -1;
  position: fixed;
  top: 0;
}
.shape--2::before{
  position: fixed;
  height: 1rem;
  left: 28rem;
  top: 5rem;
  width: 4rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 110' height='128' width='128'%3E%3Cpath fill='%23F4F5F6' stroke='%230075C9' stroke-width='4' d='M50 15l50 85H0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 8rem;
    width: 8rem;
    z-index: -1;
    opacity: 0.5;
}
.shape--3{
  position: fixed;
  z-index: -1;
  border: .25rem solid rgb(12, 158, 217, 0.5);
  height: 7rem;
  left: 5rem;
  top: 4rem;
  width: 7rem;
}
.chi .-text--h1 {
  font-size: 35px !important;
  line-height: 45px !important;
}
.gridMain {
  display: grid;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
}
.chi .chi-input {
  width: 100%;
  margin: 10px 0;
}

.chi-button {
  justify-content: center;
  align-self: center;
}

.grid-results {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  align-items: center;
}

.show {
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  margin: 10px auto;
  padding: 5px;
}
.resultsImg {
  width: 150px;
  margin-top: 0;
}
.passPage{
  display: flex;
  justify-content: center;
  margin: 0;
}

.selecFavorite {
  list-style: none;
  background: #38c6f4;
  border: solid 2px white;
  color: aliceblue;
}

.favoritesColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.favoritesResults {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 0;
  list-style: none;
}

.favoriteItem {
  display: flex;
  flex-direction: row-reverse;
}

.favoriteImg {
  width: 70px;
  border: solid 2px rgba(90, 178, 230, 0.5);
  color: aliceblue;
  margin: 0;
}

.removeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-style: none;
  background: #083176;
  color: aliceblue;
  margin: 0 4px;
  font-size: x-small;
  padding-bottom: 2px;
}

.footer {
  background: black;
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  height: 30px;
}
.chi .chi-brand {
  width: 70px;
  margin-left: 40px;;
}

@media all and (min-width: 768px) {
  .gridMain {
    grid-template-columns: 70% 30%;
    margin: 0;
  }
  .form {
    flex-direction: row;
  }
  .chi .chi-input {
    width: 70%;
    margin-right: 10px;
  }
  .grid-results {
    grid-template-columns: 1fr 1fr;
  }
  .favoritesContainer {
    grid-template-columns: 1fr 1fr;
  }
  .favoritesContainer {
    grid-template-columns: 1fr;
  }
  .favoriteImg {
    width: 100px;
  }
  .footer {
    background: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 20px 0 0;
    height: 40px;
  }
  .chi .chi-brand {
    width: 80px;
    margin: 20px 40px;
  }
}

@media all and (min-width: 1200px) {
 
  .grid-results {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .footer {
    background: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 20px 0 0;
    height: 50px;
  }
  .chi .chi-brand {
    width: 90px;
    margin: 20px 40px;
  }
}
