* {
  margin: 10px 10px;
}

.form {
  display: flex;
  flex-direction: row;
}

.input {
  width: 250px;
  margin-left: 0;
}
.favorites {
  margin-left: 0;
}

.button {
  width: 70px;
  height: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 40% 60%;
}

.show {
  list-style: none;
  background: violet;
  color: black;
}
.showFavourite {
  list-style: none;
  border: solid 2px black;
  color: violet;
}
