* {
  margin: 10px 10px;
}

.title,
.header {
  text-align: center;
}

.body {
  background-image: url("../images/background.png");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(27, 85, 52);
  width: 100%;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  width: 350px;
  margin-left: 0;
  padding-left: 10px;
  background: rgb(230, 229, 215);
  border-radius: 10px;
  border: solid 1px seagreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.searchButton,
.resetButton {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border-style: none;
  background-color: seagreen;
  color: aliceblue;
  text-decoration: none;
  outline: none;
}

.resetButton:hover {
  background-color: seagreen;
}

.searchButton:hover {
  background: orange;
}

.resultsImg {
  width: 170px;
  height: 235px;
}

.resetButton {
  background: orange;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
}

.column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid-results {
  display: flex;
  flex-wrap: wrap;
}

.show {
  list-style: none;
  background: rgba(218, 165, 32, 0.2);
  color: rgb(87, 78, 78);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 330px;
  border: solid 3px rgba(90, 178, 230, 0.5);
  border-radius: 5%;
}

.selecFavorite {
  list-style: none;
  background: rgba(90, 178, 230, 0.5);
  border: solid 2px white;
  color: aliceblue;
}

.favoritesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  color: black;
  color: rgb(87, 78, 78);
}
.favorites {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.listFavorites {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.favoriteImg {
  width: 100px;
  height: 150px;
  border-radius: 10%;
  list-style: none;
  border: solid 2px rgba(90, 178, 230, 0.5);
  color: aliceblue;
}

.title-X {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-size: 12px;
}

.removeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: none;
  background: orange;
  color: aliceblue;
}
